.bg {
  display: flex;
}

.image {
  width: 100%;
}
.image-text-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  height: 15%;
  width: 30%;
  top: 45%;
  left: 35%;
}
.image-text {
  font-size: 2em;
}
